/* wireframe for main content
border: 3px solid #000

wireframe for sub content
border: 2px solid #333;

.wireframe for hidden content
border: 2px dashed #666;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

.cart__container {
    font-size: 1.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 16px;
    margin: 0 auto;
    border: 3px solid #333;
    margin-top: 1rem;
    width: 100%;
}

.cartItem {
    display: grid;
    gap: 1rem;
    text-align: center;
}

.cart__alert {
    /* color: red; */
    font-weight: bold;
    text-decoration: underline;
}

.cart__total {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    border: 2px solid #999;
    padding: 1rem;
}

.cart__tour {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    /* border: #52976f 1px solid; */
    /* background-color: linear-gradient(to top, #599759, #fff); */
    /* box-shadow: 0 4px 4px rgba(42, 100, 61, 0.233); */
    /* border-radius: 8px; */
}

.cart__tour--name {
    text-align: center;
}

.cart__tour--price {
    font-size: 1.25rem;
    text-align: center;
}

#cart__title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.25rem;
    border: 2px solid #666;
    padding: 1rem;
}

.cart__button {
    width: 100%;
    max-width: 256px;
    padding: 1rem;
    align-self: center;
    border: 2px solid #999;
}

.cart__tour--delete {
    /* background-color: #e74c3c; */
    background: transparent;
    color: #fff;
    /* border: none; */
    padding: 8px 12px;
    /* border-radius: 5px; */
    cursor: pointer;
    font-size: 1rem;
    border: 2px solid #999;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.cart__tour--delete:hover {
    background-color: #a83e3e;
}

.cart__button--consult {
    display: inline-block;
    padding: 0.625rem 0.9375rem;
    margin-top: 1.25rem;
    border: none;
    /* border-radius: 0.3125rem; */
    cursor: pointer;
    border: 2px dashed #999;
    font-size: 0.9375rem;
    background: transparent;
    /* color: white; */
    font-weight: bold;
    /* background-color: rgb(121, 202, 101); */
    transition: 0.2s ease;
}

/* .cart__button--consult:hover {
    background-color: rgba(52, 124, 62, 0.8);
    color: white;
} */

.cart__backbutton {
    /* background-color: #6d767d; */
    display: inline-block;
    padding: 0.625rem 0.9375rem;
    margin-top: 1.25rem;
    border: 2px dashed #999;
    /* border-radius: 0.3125rem; */
    cursor: pointer;
    /* color: #ffffff; */
    font-size: 0.9375rem;
    text-align: center;
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.2s ease;
}

html {
    /* border: 2px solid #333; */
    padding: 1rem;
}

/* bộ lọc */
.page__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    border: 3px solid #000;
    /* gap: 1rem; */
    padding: 1rem;
    margin-top: 1rem;
    /* border-radius: 20px; */
    min-height: 100vh;
}

/* tour du lịch */
.tour__list {
    margin-top: 0px;
    padding: 20px 20px;
    background-color: #fff;
    text-align: left;
}

.tour__title {
    /* font-size: 36px; */
    margin-top: 0;
    margin-bottom: 1rem;
    /* color: #006400; */
    /* font-weight: bold; */
    text-align: center;
    font-size: 1.25rem;
    border: 2px solid #999;
    padding: 0.5rem;
}

.tour__grid {
    border: 2px solid #333;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.tour__item {
    /* background-color: #f5f5f5; */
    /* border: 8px solid white; */
    padding: 24px;
    /* border-radius: 20px; */
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05); */
    border: 2px solid #666;
    transition: transform 0.3s ease;
}

.tour__item:hover {
    transform: translateY(-6px);
}

.tour__item .img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    /* border-radius: 12px; */
    margin-bottom: 16px;
    border: 2px dashed #666;
    /* background-color: #999; */
    /* border: 3px solid #054d1a; */
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
}

.tour__item h2 {
    font-size: 22px;
    color: #161614;
    margin-bottom: 12px;
    text-align: center;
    line-height: 1;
    min-height: calc(1em * 2);
}

.tour__desc {
    font-size: 15px;
    color: #444;
    line-height: 1.6;
}

.tour__price {
    /* background-color: goldenrod; */
    /* color: #aa2d2d; */
    padding: 10px 16px;
    /* border-radius: 999px; */
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); */
    border: 2px solid #999;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.tour__details {
    border: 2px solid #666;
    list-style: disc;
    /* padding-left: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.tour__details li {
    /* border: 2px solid #999; */
    list-style: none;
    font-size: 18px;
    margin-bottom: 6px;
    line-height: 1.4;
}

.tour__button {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-top: 12px;
    border: 2px dashed #666;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    /* border-radius: 8px; */
    text-align: center;
    text-decoration: none;
    /* border: none; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tour__unfavorite--button {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin-top: 12px;
    border: 2px dashed #666;
    background: transparent;
    /* color: white; */
    font-size: 16px;
    font-weight: bold;
    /* border-radius: 8px; */
    text-align: center;
    text-decoration: none;
    /* border: none; */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* update quantity */
.cart__tour--qty {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px 0;
}

.buttonChange {
    padding: 4px 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.quantityDisplay {
    min-width: 24px;
    text-align: center;
    font-weight: bold;
}

.cart__tour--action {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cart__button--deleteAll {
    display: inline-block;
    padding: 0.625rem 0.9375rem;
    margin-top: 1.25rem;
    border: none;
    border: 2px dashed #999;
    background: transparent;
    /* border-radius: 0.3125rem; */
    cursor: pointer;
    font-size: 0.9375rem;
    /* color: white; */
    font-weight: bold;
    /* background-color: red; */
    transition: 0.2s ease;
}

@media (max-width: 992px) {
    .tour__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .tour__grid {
        grid-template-columns: 1fr;
    }
}

.tour__list {
    background-color: #fff;
}
